.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.main-content {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active-link {
  background-color: #1e1e1e;
  font-weight: bold;
  border-left: 4px solid #1976d2;
  /* Azul padrão do Material */
}
