<mat-sidenav-container class="sidenav-container">
  <!-- MENU LATERAL -->
  <mat-sidenav
    #sidenav
    [mode]="isSmallScreen ? 'over' : 'side'"
    [opened]="!isSmallScreen"
    class="sidenav"
  >
    <mat-toolbar>Menu</mat-toolbar>

    <!-- Se o usuário estiver logado -->
    <mat-nav-list *ngIf="isLoggedIn(); else publicMenu">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link"
        >Dashboard</a
      >
      <a mat-list-item routerLink="/product" routerLinkActive="active-link"
        >Cadastrar produtos</a
      >
      <a mat-list-item routerLink="/city" routerLinkActive="active-link"
        >Cadastrar cidades</a
      >
      <a mat-list-item routerLink="/user" routerLinkActive="active-link"
        >Gerenciar usuários</a
      >
      <a mat-list-item routerLink="/profile" routerLinkActive="active-link"
        >Seus dados</a
      >
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>

    <!-- Menu alternativo para não logado -->
    <ng-template #publicMenu>
      <mat-nav-list>
        <a mat-list-item routerLink="/login" routerLinkActive="active-link"
          >Login</a
        >
        <a mat-list-item routerLink="/register" routerLinkActive="active-link"
          >Registrar</a
        >
      </mat-nav-list>
    </ng-template>
  </mat-sidenav>

  <!-- CONTEÚDO PRINCIPAL -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="isSmallScreen" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sonora</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
